[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
bs4 = "*"
urllib3 = "*"
certifi = "*"
requests = "*"
chardet = "*"
idna = "*"
six = "*"
datetime = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
